.p-co01__main {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 90%;
}

.p-co01__fv-sec {
    padding: 3rem 0;
    margin: auto;
}

.p-co01__fv-contents {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}

@media screen and (max-width: 1400px) {
    .p-co01__fv-contents {
        width: 1000px;
    }
}

@media screen and (max-width: 1160px) {
    .p-co01__fv-contents {
        width: 800px;
    }
}

@media screen and (max-width: 979px) {
    .p-co01__fv-contents {
        width: 100%;
        max-width: calc(100% - 120px);
        margin: auto;
    }
}

.p-co01__fv-contents>p {
    margin-bottom: 1rem;
}

.p-co01__fv-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 0 0 1rem 0;
}

@media screen and (max-width: 1160px) {
    .p-co01__fv-menu {
        display: contents;
    }
}

.p-co01__fv-menu>li {
    margin-right: 1rem;
}

@media screen and (max-width: 1160px) {
    .p-co01__fv-menu>li {
        margin-right: 0;
        margin-bottom: 1rem;

    }
}


.p-co01__fv-menu>li:last-child {
    margin-right: 0;
    margin: auto 0 0;
}

@media screen and (max-width: 1160px) {
    .p-co01__fv-menu>li:last-child {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

.p-co01__fv-menu>li>p {
    padding: 0 0.5rem;
}

.p-co01__fv-menu>li>input[type="text"] {
    width: 300px;
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px #35495e7c solid;
}

.p-co01__fv-menu>li>select {
    width: 200px;
    height: 2.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px #35495e7c solid;
}